@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins','sans-serif';
    background-image: url('rodion-kutsaev-049M_crau5k-unsplash.jpg');
    background-size: cover;
    color: #fff;
}
main{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-20%);
}
h1{
    font-size: 2.5rem;
    text-align: center;
}
.countdown{
    display: flex;
    justify-content: space-around;
}
.countdown > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}
span{
    font-size: 5rem;
}